databricks-ls-poc-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "databricks-ls-poc-datafactory"
		},
		"AzureDatabricksDeltaLake_ADF_accessToken": {
			"type": "secureString",
			"metadata": "'AzureDatabricksDeltaLake_ADF'의 'accessToken'에 대한 보안 문자열"
		},
		"ERP_ERPPROD_password": {
			"type": "secureString",
			"metadata": "'ERP_ERPPROD'의 'password'에 대한 보안 문자열"
		},
		"LS_FRW_ASQL_connectionString": {
			"type": "secureString",
			"metadata": "'LS_FRW_ASQL'의 'connectionString'에 대한 보안 문자열",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().SRC_SRV_NM};Initial Catalog=@{linkedService().SRC_DB_NM};User ID=@{linkedService().SRC_USER_NM}"
		},
		"LS_NAS_password": {
			"type": "secureString",
			"metadata": "'LS_NAS'의 'password'에 대한 보안 문자열"
		},
		"PMS_CPMS_password": {
			"type": "secureString",
			"metadata": "'PMS_CPMS'의 'password'에 대한 보안 문자열"
		},
		"RMS_wcadmin_password": {
			"type": "secureString",
			"metadata": "'RMS_wcadmin'의 'password'에 대한 보안 문자열"
		},
		"databrickslspocsa_accountKey": {
			"type": "secureString",
			"metadata": "'databrickslspocsa'의 'accountKey'에 대한 보안 문자열"
		},
		"syndpdatawarehouse_password": {
			"type": "secureString",
			"metadata": "'syndpdatawarehouse'의 'password'에 대한 보안 문자열"
		},
		"DS_FRW_ADLS_ALL_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().DLS_FN"
		},
		"DS_FRW_ADLS_ALL_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().DLS_DR"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-lse-datawarehouse.vault.azure.net/"
		},
		"ERP_ERPPROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "165.244.241.132:1601/ERPPROD"
		},
		"ERP_ERPPROD_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "LSISDATALAKE"
		},
		"LS_NAS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\165.243.101.217\\data"
		},
		"LS_NAS_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "busan_fat"
		},
		"PMS_CPMS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.153.3.90"
		},
		"PMS_CPMS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "CPMS"
		},
		"PMS_CPMS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSDPS"
		},
		"RMS_wcadmin_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "165.243.100.125"
		},
		"RMS_wcadmin_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "wcadmin"
		},
		"RMS_wcadmin_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSDPS"
		},
		"databrickslspocsa_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
		},
		"syndpdatawarehouse_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synw-datawarehouse-prod-001.sql.azuresynapse.net"
		},
		"syndpdatawarehouse_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "syndpdatawarehouse"
		},
		"syndpdatawarehouse_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSESNOWFLAKE"
		},
		"ls-dp-adf-ir-new_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/6964c315-93f4-43ed-9c55-ab9ff3d37dc3/resourcegroups/DataPlatform/providers/Microsoft.DataFactory/factories/ls-dp-adf/integrationruntimes/ls-dp-adf-ir-new"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/1_WORKFLOW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SRC_TO_BRZ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_SRC_TO_BRZ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"WIND_STRT_TIME": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"interface_id": {
									"value": "@pipeline().parameters.interface_id",
									"type": "Expression"
								},
								"source_object_schema": {
									"value": "@pipeline().parameters.source_object_schema",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "BRZ_TO_SIV",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SRC_TO_BRZ",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3_BRZ_TO_SIV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"WIND_STRT_TIME": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PIPELINE_NAME": {
									"value": "@activity('SRC_TO_BRZ').output.pipelineName",
									"type": "Expression"
								},
								"interface_id": {
									"value": "@pipeline().parameters.interface_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SIL_TO_GOL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BRZ_TO_SIV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "4_SIL_TO_GOL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"WIND_STRT_TIME": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PIPELINE_NAME": {
									"value": "@activity('BRZ_TO_SIV').output.pipelineName",
									"type": "Expression"
								},
								"interface_id": {
									"value": "@pipeline().parameters.interface_id",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"interface_id": {
						"type": "string"
					},
					"source_object_schema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-07T01:57:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/2_SRC_TO_BRZ')]",
				"[concat(variables('factoryId'), '/pipelines/3_BRZ_TO_SIV')]",
				"[concat(variables('factoryId'), '/pipelines/4_SIL_TO_GOL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_SRC_TO_BRZ')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline is used to migrate source table to data lake(RAW) with full copy support. Pipeline is using value of source name and table name in configuration table. ",
				"activities": [
					{
						"name": "GET_CFG",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET_TIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.interface_id}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_DB_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FILTER_1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_CFG').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().load_type,'full')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FILTER_2",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "TIME",
								"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', variables('TIME'))}/@{concat(item().source_object, '.snappy.parquet')}"
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_CFG').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().load_type,'incremental')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FOR_EACH_1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FILTER_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FILTER_1').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "GET_SRC_REC_CNT",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT \n    CASE \n        WHEN EXISTS (\n            SELECT 1 \n            FROM ALL_TABLES \n            WHERE OWNER = UPPER('@{pipeline().parameters.source_object_schema}')\n              AND TABLE_NAME = UPPER('@{item().source_object}')\n        ) \n        THEN (\n            SELECT COUNT(*) \n            FROM @{pipeline().parameters.source_object_schema}.@{item().source_object}\n        )\n        ELSE 0\n    END AS src_rec_cnt\nFROM DUAL\n",
												"type": "Expression"
											},
											"partitionOption": "None",
											"numberPrecision": 38,
											"numberScale": 18,
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "COPY_TO_ADLS_LOG",
									"description": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', variables('TIME'))}/@{concat(item().source_object, '.snappy.parquet')}",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_SRC_REC_CNT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-',''))}/@{concat(item().source_object, '.snappy.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * \nFROM @{pipeline().parameters.source_object_schema}.@{item().source_object}\nWHERE EXISTS (\n    SELECT 1 \n    FROM ALL_TAB_COLUMNS\n    WHERE OWNER = '@{pipeline().parameters.source_object_schema}'\n      AND TABLE_NAME = '@{item().source_object}'\n)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/@{variables('TIME')}",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO_LOG",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS_LOG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('COPY_TO_ADLS_LOG').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/@{variables('TIME')}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@{item().source_object}.snappy.parquet",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@activity('COPY_TO_ADLS_LOG').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "r_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@pipeline().parameters.WIND_STRT_TIME",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Bronze",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "COPY_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_SRC_REC_CNT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source_object, IF(equals(item().load_type,'full'),'-ALL',''), '/Latest/')}/@{concat(item().source_object, '.snappy.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * \nFROM @{pipeline().parameters.source_object_schema}.@{item().source_object}\nWHERE EXISTS (\n    SELECT 1 \n    FROM ALL_TAB_COLUMNS\n    WHERE OWNER = '@{pipeline().parameters.source_object_schema}'\n      AND TABLE_NAME = '@{item().source_object}'\n)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/Latest/",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('COPY_TO_ADLS').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/Latest/",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@{item().source_object}.snappy.parquet",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "r_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@pipeline().parameters.WIND_STRT_TIME",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Bronze",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_DB_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "LOG",
									"type": "IfCondition",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('COPY_TO_ADLS').output.executionDetails[0].status,'Succeeded')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "FAIL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[SP_ETL_DATA_INSERT_LOG]",
													"storedProcedureParameters": {
														"err_mesg": {
															"value": {
																"value": "ErrorCode :@{activity('COPY_TO_ADLS').Error.errorCode}",
																"type": "Expression"
															},
															"type": "String"
														},
														"load_cnt": {
															"value": {
																"value": "@activity('COPY_TO_ADLS').output.rowsRead",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"parm_from": {
															"value": null,
															"type": "String"
														},
														"parm_to": {
															"value": null,
															"type": "String"
														},
														"pgm_status": {
															"value": "E",
															"type": "String"
														},
														"run_pgm": {
															"value": {
																"value": "@concat('BRIDGE','_','SYN','_',item().synapse_object_schema,'.',item().synapse_object)",
																"type": "Expression"
															},
															"type": "String"
														},
														"st_date": {
															"value": {
																"value": "@formatDateTime(concat(substring(item().yyyyMMddHHmmss,0,4),'-',substring(item().yyyyMMddHHmmss,4,2),'-',substring(item().yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"tgt_job_area": {
															"value": "ODS",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "syndpdatawarehouse",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SUCCESS",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[SP_ETL_DATA_INSERT_LOG]",
													"storedProcedureParameters": {
														"err_mesg": {
															"value": null,
															"type": "String"
														},
														"load_cnt": {
															"value": {
																"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"parm_from": {
															"value": null,
															"type": "String"
														},
														"parm_to": {
															"value": null,
															"type": "String"
														},
														"pgm_status": {
															"value": "S",
															"type": "String"
														},
														"run_pgm": {
															"value": {
																"value": "@concat('BRIDGE','_','SYN','_',item().synapse_object_schema,'.',item().synapse_object)",
																"type": "Expression"
															},
															"type": "String"
														},
														"st_date": {
															"value": {
																"value": "@formatDateTime(concat(substring(item().yyyyMMddHHmmss,0,4),'-',substring(item().yyyyMMddHHmmss,4,2),'-',substring(item().yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"tgt_job_area": {
															"value": "ODS",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "syndpdatawarehouse",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "FOR_EACH_2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FILTER_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FILTER_2').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "2_PL_COPY_SRC_TO_BRZ_ASQL_EAI",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "2_SRC_TO_BRZ_SUB",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"WIND_STRT_TIME": {
												"value": "@pipeline().parameters.WIND_STRT_TIME",
												"type": "Expression"
											},
											"IF_ID": {
												"value": "@item().interface_id",
												"type": "Expression"
											},
											"PIPELINE_NAME": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET_TIME",
						"description": "This activity is used to initialize TIME variable with pipeline start time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TIME",
							"value": {
								"value": "@replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-','')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"META_DB_SRV_NM": {
						"type": "string",
						"defaultValue": "ls-dp-sql.database.windows.net"
					},
					"META_DB_NM": {
						"type": "string",
						"defaultValue": "sqldb-dataportal"
					},
					"META_DB_USER_NM": {
						"type": "string",
						"defaultValue": "lseadmin"
					},
					"META_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-META-ASQL"
					},
					"META_TBL_NM": {
						"type": "string",
						"defaultValue": "Meta.LOAD_INV_EAI"
					},
					"DLS_URL": {
						"type": "string",
						"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
					},
					"DL_FS_NM": {
						"type": "string",
						"defaultValue": "databrickslspocsa"
					},
					"DL_DR_NM": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"DL_FS_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-FS-ADLS"
					},
					"SP_INS_PIP_INFO": {
						"type": "string",
						"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
					},
					"SP_FAIL_ACT": {
						"type": "string",
						"defaultValue": "Meta.SP_FAIL_ACT"
					},
					"WIND_STRT_TIME": {
						"type": "string"
					},
					"LK_SRC_SRV_NM": {
						"type": "string",
						"defaultValue": "synw-datawarehouse-prod-001.sql.azuresynapse.net"
					},
					"LK_SRC_DB_NM": {
						"type": "string",
						"defaultValue": "syndpdatawarehouse"
					},
					"LK_SRC_USER_NM": {
						"type": "string",
						"defaultValue": "sqladminuser"
					},
					"LK_SRC_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "PROD-KVS-FRW-ADW-SYN"
					},
					"interface_id": {
						"type": "string"
					},
					"source_object_schema": {
						"type": "string"
					}
				},
				"variables": {
					"TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-07T02:03:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/datasets/ERP_Oracle')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ADLS_ALL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]",
				"[concat(variables('factoryId'), '/pipelines/2_SRC_TO_BRZ_SUB')]",
				"[concat(variables('factoryId'), '/linkedServices/syndpdatawarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_SRC_TO_BRZ_SUB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline is used to migrate source table to data lake(RAW) with full copy support. Pipeline is using value of source name and table name in configuration table. ",
				"activities": [
					{
						"name": "GET_CFG",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.IF_ID}'\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_DB_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOR_EACH",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_DATE').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "GET_SRC_REC_CNT",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT \n    CASE \n        WHEN EXISTS (\n            SELECT 1 \n            FROM ALL_TABLES \n            WHERE OWNER = UPPER('@{pipeline().parameters.source_object_schema}')\n              AND TABLE_NAME = UPPER('@{item().source_object}')\n        ) \n        THEN (\n            SELECT COUNT(*) \n            FROM @{pipeline().parameters.source_object_schema}.@{item().source_object}\n        )\n        ELSE 0\n    END AS src_rec_cnt\nFROM DUAL\n",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "COPY_TO_ADLS_LOG",
									"description": "@{concat(pipeline().parameters.DL_DR_NM, '/', activity('GET_CFG').output.value[0].source_name, '/', activity('GET_CFG').output.value[0].source_object, '/', variables('TIME'))}/@{concat(activity('GET_CFG').output.value[0].source_object,'-',item().FROM_DT,'-',item().TO_DT,'.snappy.parquet')}",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_SRC_REC_CNT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', activity('GET_CFG').output.value[0].source_name, '/', activity('GET_CFG').output.value[0].source_object, '/', activity('GET_DATE').output.value)}/@{concat(activity('GET_CFG').output.value[0].source_object,'-',item().FROM_DT,'-',item().TO_DT,'.snappy.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * \nFROM @{pipeline().parameters.source_object_schema}.@{activity('GET_CFG').output.value[0].source_object}\nWHERE 1=1\n  AND @{split(activity('GET_CFG').output.value[0].target_field,',')[0]} >= TO_DATE('@{item().FROM_DT}', 'YYYY-MM-DD')\n  AND @{split(activity('GET_CFG').output.value[0].target_field,',')[1]} < TO_DATE('@{item().TO_DT}', 'YYYY-MM-DD')",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.value[0].source_name}/@{activity('GET_CFG').output.value[0].source}/@{activity('GET_CFG').output.value[0].source_object}/@{pipeline().parameters.WIND_STRT_TIME}",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@concat(activity('GET_CFG').output.value[0].source_object,'-',replace(item().FROM_DT,'-',''),'_',replace(item().TO_DT,'-',''),'.tsv')",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO_LOG",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS_LOG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('COPY_TO_ADLS_LOG').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.value[0].source_name}/@{activity('GET_CFG').output.value[0].source}/@{activity('GET_CFG').output.value[0].source_object}/@{pipeline().parameters.WIND_STRT_TIME}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@concat(activity('GET_CFG').output.value[0].source_object,'_',replace(item().FROM_DT,'-',''),'_',replace(item().TO_DT,'-',''),'.snappy.parquet')",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@activity('COPY_TO_ADLS_LOG').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@activity('GET_CFG').output.value[0].load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "r_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().parameters.PIPELINE_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@pipeline().parameters.WIND_STRT_TIME",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@activity('GET_CFG').output.value[0].usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Bronze",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_DB_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "COPY_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_SRC_REC_CNT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "."
										},
										{
											"name": "Destination",
											"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', activity('GET_CFG').output.value[0].source_name, '/', activity('GET_CFG').output.value[0].source_object, '/Latest/')}/@{concat(activity('GET_CFG').output.value[0].source_object,'-',item().FROM_DT,'-',item().TO_DT,'.snappy.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * \nFROM @{pipeline().parameters.source_object_schema}.@{activity('GET_CFG').output.value[0].source_object}\nWHERE 1=1\n  AND @{split(activity('GET_CFG').output.value[0].target_field,',')[0]} >= TO_DATE('@{item().FROM_DT}', 'YYYY-MM-DD')\n  AND @{split(activity('GET_CFG').output.value[0].target_field,',')[1]} < TO_DATE('@{item().TO_DT}', 'YYYY-MM-DD')",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ERP_Oracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.value[0].source_name}/@{activity('GET_CFG').output.value[0].source}/@{activity('GET_CFG').output.value[0].source_object}/Latest/",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@concat(activity('GET_CFG').output.value[0].source_object,'_',replace(item().FROM_DT,'-',''),'_',replace(item().TO_DT,'-',''),'.tsv')",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('COPY_TO_ADLS').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.value[0].source_name}/@{activity('GET_CFG').output.value[0].source}/@{activity('GET_CFG').output.value[0].source_object}/Latest/",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@concat(activity('GET_CFG').output.value[0].source_object,'_',replace(item().FROM_DT,'-',''),'_',replace(item().TO_DT,'-',''),'.snappy.parquet')",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@activity('GET_CFG').output.value[0].load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "r_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().parameters.PIPELINE_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@pipeline().parameters.WIND_STRT_TIME",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@activity('GET_CFG').output.value[0].usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Bronze",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_DB_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "LOG",
									"type": "IfCondition",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "COPY_TO_ADLS",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('COPY_TO_ADLS').output.executionDetails[0].status,'Succeeded')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "FAIL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[SP_ETL_DATA_INSERT_LOG]",
													"storedProcedureParameters": {
														"err_mesg": {
															"value": {
																"value": "ErrorCode :@{activity('COPY_TO_ADLS').Error.errorCode}",
																"type": "Expression"
															},
															"type": "String"
														},
														"load_cnt": {
															"value": {
																"value": "@activity('COPY_TO_ADLS').output.rowsRead",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"parm_from": {
															"value": {
																"value": "@{item().FROM_DT}",
																"type": "Expression"
															},
															"type": "String"
														},
														"parm_to": {
															"value": {
																"value": "@{item().TO_DT}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pgm_status": {
															"value": "E",
															"type": "String"
														},
														"run_pgm": {
															"value": {
																"value": "@concat('BRIDGE','_','SYN','_',activity('GET_CFG').output.value[0].synapse_object_schema,'.',activity('GET_CFG').output.value[0].synapse_object)",
																"type": "Expression"
															},
															"type": "String"
														},
														"st_date": {
															"value": {
																"value": "@formatDateTime(concat(substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,0,4),'-',substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,4,2),'-',substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"tgt_job_area": {
															"value": "ODS",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "syndpdatawarehouse",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SUCCESS",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[SP_ETL_DATA_INSERT_LOG]",
													"storedProcedureParameters": {
														"err_mesg": {
															"value": null,
															"type": "String"
														},
														"load_cnt": {
															"value": {
																"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Decimal"
														},
														"parm_from": {
															"value": {
																"value": "@{item().FROM_DT}",
																"type": "Expression"
															},
															"type": "String"
														},
														"parm_to": {
															"value": {
																"value": "@{item().TO_DT}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pgm_status": {
															"value": "S",
															"type": "String"
														},
														"run_pgm": {
															"value": {
																"value": "@concat('BRIDGE','_','SYN','_',activity('GET_CFG').output.value[0].synapse_object_schema,'.',activity('GET_CFG').output.value[0].synapse_object)",
																"type": "Expression"
															},
															"type": "String"
														},
														"st_date": {
															"value": {
																"value": "@formatDateTime(concat(substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,0,4),'-',substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,4,2),'-',substring(activity('GET_CFG').output.value[0].yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"tgt_job_area": {
															"value": "ODS",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "syndpdatawarehouse",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "GET_DATE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET_DATE_RANGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT \nFORMAT(DATEADD(@{activity('GET_CFG').output.value[0].interval_type}, DATEDIFF(@{activity('GET_CFG').output.value[0].interval_type}, 0, [DATE]), 0),'@{activity('GET_CFG').output.value[0].target_condition}') AS FROM_DT ,\nFORMAT(DATEADD(@{activity('GET_CFG').output.value[0].interval_type}, 1 ,DATEADD(@{activity('GET_CFG').output.value[0].interval_type}, DATEDIFF(@{activity('GET_CFG').output.value[0].interval_type}, 0, [DATE]), 0)),'@{activity('GET_CFG').output.value[0].target_condition}') AS TO_DT\nFROM [dbo].[V_DIM_FND_CALENDAR_DATES_MST]\nWHERE FORMAT([DATE],'@{activity('GET_CFG').output.value[0].target_condition}') BETWEEN '@{activity('GET_DATE_RANGE').output.value[0].MIN_DT}' AND '@{activity('GET_DATE_RANGE').output.value[0].MAX_DT}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ADW_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.LK_SRC_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.LK_SRC_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.LK_SRC_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.LK_SRC_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GET_DATE_RANGE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \nMIN(@{split(activity('GET_CFG').output.value[0].target_field,',')[0]}) AS MIN_DT ,\nMAX(@{split(activity('GET_CFG').output.value[0].target_field,',')[1]}) AS MAX_DT\nFROM [@{activity('GET_CFG').output.value[0].source_object_schema}].[@{activity('GET_CFG').output.value[0].source_object}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().globalParameters.GP_BRIDGE_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_DB_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().globalParameters.GP_BRIDGE_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"META_DB_SRV_NM": {
						"type": "string",
						"defaultValue": "ls-dp-sql.database.windows.net"
					},
					"META_DB_NM": {
						"type": "string",
						"defaultValue": "sqldb-dataportal"
					},
					"META_DB_USER_NM": {
						"type": "string",
						"defaultValue": "lseadmin"
					},
					"META_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-META-ASQL"
					},
					"DLS_URL": {
						"type": "string",
						"defaultValue": "https://lsdpadls.dfs.core.windows.net/"
					},
					"DL_FS_NM": {
						"type": "string",
						"defaultValue": "lsdpadls"
					},
					"DL_DR_NM": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"DL_FS_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-FS-ADLS"
					},
					"SRC_DB_SRV_NM": {
						"type": "string",
						"defaultValue": "ls-dp-sql.database.windows.net"
					},
					"SRC_DB_NM": {
						"type": "string",
						"defaultValue": "sqldb-bridge"
					},
					"SRC_NM": {
						"type": "string",
						"defaultValue": "ERP-BRIDGE"
					},
					"SRC_DB_USR_NM": {
						"type": "string",
						"defaultValue": "lseadmin"
					},
					"SRC_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-BRIDGE-ASQL"
					},
					"SP_INS_PIP_INFO": {
						"type": "string",
						"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
					},
					"SP_FAIL_ACT": {
						"type": "string",
						"defaultValue": "Meta.SP_FAIL_ACT"
					},
					"WIND_STRT_TIME": {
						"type": "string"
					},
					"IF_ID": {
						"type": "string"
					},
					"LK_SRC_SRV_NM": {
						"type": "string",
						"defaultValue": "synw-datawarehouse-prod-001.sql.azuresynapse.net"
					},
					"LK_SRC_DB_NM": {
						"type": "string",
						"defaultValue": "syndpdatawarehouse"
					},
					"LK_SRC_USER_NM": {
						"type": "string",
						"defaultValue": "sqladminuser"
					},
					"LK_SRC_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "PROD-KVS-FRW-ADW-SYN"
					},
					"PIPELINE_NAME": {
						"type": "string"
					},
					"source_object_schema": {
						"type": "string"
					}
				},
				"variables": {
					"TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-07T02:03:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ADW_ALL')]",
				"[concat(variables('factoryId'), '/datasets/ERP_Oracle')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ADLS_ALL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]",
				"[concat(variables('factoryId'), '/linkedServices/syndpdatawarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_BRZ_TO_SIV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline is used to migrate source table to data lake(BASE) with delta copy support. Pipeline is using value of source name and table name in configuration table. ",
				"activities": [
					{
						"name": "GET_CFG",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET_TIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.interface_id}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GET_TIME",
						"description": "This activity is used to initialize TIME variable with pipeline start time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TIME",
							"value": {
								"value": "@replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FOR_EACH",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_CFG').output.value",
								"type": "Expression"
							},
							"batchCount": 3,
							"activities": [
								{
									"name": "GET_JOB_TIME",
									"description": "This activity is used to initialize TIME variable with pipeline start time",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "JOB_TIME",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Trans to Silver",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_JOB_TIME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureBlobFSSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.SRC_DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/Latest",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "Trans to Silver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('Trans to Silver').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@{item().DL_FL_NM}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@item().SRC_REC_CNT",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "b_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@item().SRC_REC_CNT",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@activity('Trans to Silver').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Silver",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SP_FAIL_ACT",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "Trans to Silver",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_FAIL_ACT",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@activity('Trans to Silver').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_msg": {
												"value": {
													"value": "MERGE and Move to Silver activity has failed, ErrorCode :@{activity('Trans to Silver').Error.errorCode}",
													"type": "Expression"
												},
												"type": "String"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@item().SRC_REC_CNT",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Silver",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"META_DB_SRV_NM": {
						"type": "string",
						"defaultValue": "ls-dp-sql.database.windows.net"
					},
					"META_DB_NM": {
						"type": "string",
						"defaultValue": "sqldb-dataportal"
					},
					"META_USER_NM": {
						"type": "string",
						"defaultValue": "lseadmin"
					},
					"META_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-META-ASQL"
					},
					"DLS_URL": {
						"type": "string",
						"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
					},
					"DL_FS_NM": {
						"type": "string",
						"defaultValue": "databrickslspocsa"
					},
					"DL_DR_NM": {
						"type": "string",
						"defaultValue": "silver"
					},
					"DL_FS_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-FS-ADLS"
					},
					"SRC_NM": {
						"type": "string",
						"defaultValue": "BRIDGE"
					},
					"SRC_DL_DR_NM": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"SP_INS_PIP_INFO": {
						"type": "string",
						"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
					},
					"SP_FAIL_ACT": {
						"type": "string",
						"defaultValue": "Meta.SP_FAIL_ACT"
					},
					"WIND_STRT_TIME": {
						"type": "string"
					},
					"PIPELINE_NAME": {
						"type": "string"
					},
					"interface_id": {
						"type": "string"
					}
				},
				"variables": {
					"TIME": {
						"type": "String"
					},
					"JOB_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-06T01:00:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ADLS_ALL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4_SIL_TO_GOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline is used to migrate source table to data lake(Curated) with full copy support. Pipeline is using value of source name and table name in configuration table. ",
				"activities": [
					{
						"name": "GET_CFG",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET_TIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.interface_id}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOR_EACH",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_CFG').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "GET_JOB_TIME",
									"description": "This activity is used to initialize TIME variable with pipeline start time",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "JOB_TIME",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Trans to GOLD",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "GET_JOB_TIME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "00:30:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureBlobFSSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.SRC_DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_FRW_ADLS_ALL",
											"type": "DatasetReference",
											"parameters": {
												"DLS_DR": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
													"type": "Expression"
												},
												"DLS_FN": {
													"value": "@{item().source_object}.tsv",
													"type": "Expression"
												},
												"DLS_URL": {
													"value": "@pipeline().parameters.DLS_URL",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SP_INS_RAW_PIP_INFO",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "Trans to GOLD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_INS_PIP_INFO",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@{activity('Trans to GOLD').output.executionDetails[0].status}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_dr_nm": {
												"value": {
													"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fl_nm": {
												"value": {
													"value": "@{item().DL_FL_NM}",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_fs_nm": {
												"value": {
													"value": "@pipeline().parameters.DL_FS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"dl_rec_cnt": {
												"value": {
													"value": "@item().src_rec_cnt",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"end_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"load_time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"mig_clm_nm": {
												"value": "c_mig_flg",
												"type": "String"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@item().SRC_REC_CNT",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"start_time": {
												"value": {
													"value": "@activity('Trans to GOLD').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Gold",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SP_FAIL_ACT",
									"type": "SqlServerStoredProcedure",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "Trans to GOLD",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@pipeline().parameters.SP_FAIL_ACT",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"copy_status": {
												"value": {
													"value": "@activity('Trans to GOLD').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_msg": {
												"value": {
													"value": "Trans to GOLD activity has failed, ErrorCode :@{activity('Trans to GOLD').Error.errorCode}",
													"type": "Expression"
												},
												"type": "String"
											},
											"load_id": {
												"value": {
													"value": "@item().load_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pip_nm": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_rec_cnt": {
												"value": {
													"value": "@item().SRC_REC_CNT",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"usecase_id": {
												"value": {
													"value": "@item().usecase_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"zone": {
												"value": "Gold",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_FRW_ASQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"SRC_SRV_NM": {
												"value": "@pipeline().parameters.META_DB_SRV_NM",
												"type": "Expression"
											},
											"SRC_DB_NM": {
												"value": "@pipeline().parameters.META_DB_NM",
												"type": "Expression"
											},
											"SRC_USER_NM": {
												"value": "@pipeline().parameters.META_USER_NM",
												"type": "Expression"
											},
											"SRC_DB_KVS_NM": {
												"value": "@pipeline().parameters.META_DB_KVS_NM",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET_TIME",
						"description": "This activity is used to initialize TIME variable with pipeline start time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TIME",
							"value": {
								"value": "@replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-','')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"META_DB_SRV_NM": {
						"type": "string",
						"defaultValue": "ls-dp-sql.database.windows.net"
					},
					"META_DB_NM": {
						"type": "string",
						"defaultValue": "sqldb-dataportal"
					},
					"META_USER_NM": {
						"type": "string",
						"defaultValue": "lseadmin"
					},
					"META_DB_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-META-ASQL"
					},
					"DLS_URL": {
						"type": "string",
						"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
					},
					"DL_FS_NM": {
						"type": "string",
						"defaultValue": "databrickslspocsa"
					},
					"DL_DR_NM": {
						"type": "string",
						"defaultValue": "gold"
					},
					"DL_FS_KVS_NM": {
						"type": "string",
						"defaultValue": "KVS-FRW-FS-ADLS"
					},
					"SRC_NM": {
						"type": "string",
						"defaultValue": "BRIDGE"
					},
					"SRC_DL_DR_NM": {
						"type": "string",
						"defaultValue": "silver"
					},
					"SP_INS_PIP_INFO": {
						"type": "string",
						"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
					},
					"SP_FAIL_ACT": {
						"type": "string",
						"defaultValue": "Meta.SP_FAIL_ACT"
					},
					"SP_UPD_MIG_FLG_INFO": {
						"type": "string",
						"defaultValue": "Meta.SP_DB_UPD_MIG_FLG_INFO"
					},
					"WIND_STRT_TIME": {
						"type": "string"
					},
					"PIPELINE_NAME": {
						"type": "string"
					},
					"interface_id": {
						"type": "string"
					}
				},
				"variables": {
					"TIME": {
						"type": "String"
					},
					"JOB_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-06T01:00:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ADLS_ALL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EAI_COMPLETED')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UNTIL",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('GET_EAI_REST_LOG').output.count,1)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GET_EAI_REST_LOG",
									"description": "Get migration table information from configuration table",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT *\n  FROM [META].[EAI_REST_LOG]\n  WHERE 1=1\n  AND [IF_DATETIME] = '@{pipeline().parameters.IF_DATETIME}'\n  AND [IF_ID] = '@{pipeline().parameters.IF_ID}'",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_FRW_ASQL_ALL",
											"type": "DatasetReference",
											"parameters": {
												"SRC_SRV_NM": {
													"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
													"type": "Expression"
												},
												"SRC_DB_NM": {
													"value": "@pipeline().globalParameters.GP_BRIDGE_DB_NM",
													"type": "Expression"
												},
												"SRC_USER_NM": {
													"value": "@pipeline().globalParameters.GP_META_USER_NM",
													"type": "Expression"
												},
												"SRC_DB_KVS_NM": {
													"value": "@pipeline().globalParameters.GP_BRIDGE_DB_KVS_NM",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "WAIT",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "GET_EAI_REST_LOG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 3
									}
								}
							],
							"timeout": "2:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"IF_ID": {
						"type": "string"
					},
					"IF_DATETIME": {
						"type": "string"
					}
				},
				"variables": {
					"X": {
						"type": "String"
					},
					"TMP_X": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "2ND PROJECT/3. FRAMEWORK/RESTCALL"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T09:13:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FND_TERRITORIES_TL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET_CFG_copy1",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().globalParameters.GP_META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "WORKFLOW_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET_CFG_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_WORKFLOW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"interface_id": {
									"value": "@variables('IF_ID')",
									"type": "Expression"
								},
								"source_object_schema": {
									"value": "@variables('source_object_schema')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"IF_ID": {
						"type": "String",
						"defaultValue": "IF_SRD_DPS_ERP_0061"
					},
					"source_object_schema": {
						"type": "String",
						"defaultValue": "APPLSYS"
					}
				},
				"folder": {
					"name": "2ND PROJECT/1. EAI/ERP/FULL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/pipelines/1_WORKFLOW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORIGIN_FND_TERRITORIES_TL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUNCATE_BRIDGE",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "GET_CFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_FRW_ASQL",
							"type": "LinkedServiceReference",
							"parameters": {
								"SRC_SRV_NM": {
									"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
									"type": "Expression"
								},
								"SRC_DB_NM": {
									"value": "@pipeline().globalParameters.GP_BRIDGE_DB_NM",
									"type": "Expression"
								},
								"SRC_USER_NM": {
									"value": "@pipeline().globalParameters.GP_META_USER_NM",
									"type": "Expression"
								},
								"SRC_DB_KVS_NM": {
									"value": "@pipeline().globalParameters.GP_BRIDGE_DB_KVS_NM",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "IF EXISTS (SELECT * FROM sys.objects WHERE 1=1 AND name = N'@{activity('GET_CFG').output.firstRow.source_object}' AND type = N'U')\nTRUNCATE TABLE [@{activity('GET_CFG').output.firstRow.source_object_schema}].[@{activity('GET_CFG').output.firstRow.source_object}]",
										"type": "Expression"
									}
								}
							]
						}
					},
					{
						"name": "GET_CFG",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().globalParameters.GP_META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "WORKFLOW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "COMPLETED",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_WORKFLOW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"interface_id": {
									"value": "@variables('IF_ID')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SET_BODY",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "TRUNCATE_BRIDGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "BODY",
							"value": {
								"value": "@concat('{\n    \"request\": {\n        \"header\": {\n            \"IF_ID\": \"',variables('IF_ID'),'\",\n            \"IF_GUUID\": \"',activity('GET_CFG').output.firstRow.ID,'\",\n            \"IF_UUID\": \"',activity('GET_CFG').output.firstRow.ID,'\",\n            \"IF_DATETIME\": \"',activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,'\"\n        },\n        \"body\": {\n            \"IF_TOTAL_CNT\": \"0\",\n            \"IF_SPLIT_CNT\": \"1\",\n            \"IF_SPLIT_SEQ\": \"1\",\n            \"IF_REQ_DATA\": [{}]\n        }\n    }\n}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "REST_CALL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SET_BODY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET_CFG').output.firstRow.rest_call_url,'dev')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "WEB_PROD",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"httpRequestTimeout": "00:07:00",
										"url": {
											"value": "@pipeline().globalParameters.GP_EAI_URL_PROD",
											"type": "Expression"
										},
										"body": {
											"value": "@{variables('BODY')}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WEB_DEV",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"httpRequestTimeout": "00:10:00",
										"url": {
											"value": "@pipeline().globalParameters.GP_EAI_URL_DEV",
											"type": "Expression"
										},
										"body": {
											"value": "@{variables('BODY')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "COMPLETED",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REST_CALL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EAI_COMPLETED",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IF_ID": {
									"value": "@variables('IF_ID')",
									"type": "Expression"
								},
								"IF_DATETIME": {
									"value": "@activity('GET_CFG').output.firstRow.yyyyMMddHHmmss",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "WORKFLOW_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_WORKFLOW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"interface_id": {
									"value": "@variables('IF_ID')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DESCRIPTION": {
						"type": "String",
						"defaultValue": "국가 및 권역 정보"
					},
					"BODY": {
						"type": "String",
						"defaultValue": "-------- BODY --------"
					},
					"IF_ID": {
						"type": "String",
						"defaultValue": "IF_SRD_DPS_ERP_0061"
					},
					"IF_REQ_DATA": {
						"type": "String",
						"defaultValue": "-------- PARAM --------"
					}
				},
				"folder": {
					"name": "2ND PROJECT/1. EAI/ERP/FULL"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-02T02:54:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/pipelines/1_WORKFLOW')]",
				"[concat(variables('factoryId'), '/pipelines/EAI_COMPLETED')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Origin_PL_COPY_FS_to_BLOB_v4_PC2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy local to source",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "테스트/"
							},
							{
								"name": "Destination",
								"value": "temp-monitoring/source/source.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@addminutes(utcnow(), -7200)",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 28
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "No.",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": " Date&Time",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": " ms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "CH1",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "CH2",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "CH3",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "CH4",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CH5",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "CH6",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "CH7",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "CH8",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "CH9",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "CH10",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "Alarm1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "Alarm2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "AlarmOut",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 16
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "yyyy-MM-dd HH:mm:ss"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_NAS_FS2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_source_PC2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "If rowsCopied is greater than 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Copy local to source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Copy local to source').output.rowsCopied, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy local to input",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"skipLineCount": {
													"value": "@add(int(activity('Copy local to source').output.rowsRead),-7)",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": {
													"value": "@concat(convertTimeZone(utcnow(), 'Korea Standard Time', 'Korea Standard Time', '/yyyy-MM-dd/HH:mm:dd'),'.csv')",
													"type": "Expression"
												}
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"name": "No.",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "DateTime",
														"ordinal": 2
													},
													"sink": {
														"name": "Date&Time",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 3
													},
													"sink": {
														"name": "ms",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 4
													},
													"sink": {
														"name": "CH1",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 5
													},
													"sink": {
														"name": "CH2",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 6
													},
													"sink": {
														"name": "CH3",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 7
													},
													"sink": {
														"name": "CH4",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 8
													},
													"sink": {
														"name": "CH5",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 9
													},
													"sink": {
														"name": "CH6",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 10
													},
													"sink": {
														"name": "CH7",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 11
													},
													"sink": {
														"name": "CH8",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 12
													},
													"sink": {
														"name": "CH9",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 13
													},
													"sink": {
														"name": "CH10",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 14
													},
													"sink": {
														"name": "Alarm1",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 15
													},
													"sink": {
														"name": "Alarm2",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 16
													},
													"sink": {
														"name": "AlarmOut",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_source_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_input_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy local to output",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy local to input",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"skipLineCount": 28
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												},
												{
													"source": {
														"type": "DateTime",
														"ordinal": 2
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 2
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 3
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 3
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 4
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 4
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 5
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 5
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 6
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 6
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 7
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 7
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 8
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 8
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 9
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 9
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 10
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 10
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 11
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 11
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 12
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 12
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 13
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 13
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 14
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 14
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 15
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 15
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 16
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 16
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_source_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_ouput_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "99. TEMP/TEMP_MONITORING"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T00:50:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SRC_NAS_FS2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_source_PC2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_input_PC2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_ouput_PC2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RA_TERRITORIES_TL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET_CFG_copy1",
						"description": "Get migration table information from configuration table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [load_id]\n      ,[source_name]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_FRW_ASQL_ALL",
								"type": "DatasetReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().globalParameters.GP_META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().globalParameters.GP_META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "WORKFLOW_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET_CFG_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_WORKFLOW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"interface_id": {
									"value": "@variables('IF_ID')",
									"type": "Expression"
								},
								"source_object_schema": {
									"value": "@variables('source_object_schema')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"IF_ID": {
						"type": "String",
						"defaultValue": "IF_SRD_DPS_ERP_0071"
					},
					"source_object_schema": {
						"type": "String",
						"defaultValue": "AR"
					}
				},
				"folder": {
					"name": "2ND PROJECT/1. EAI/ERP/FULL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FRW_ASQL_ALL')]",
				"[concat(variables('factoryId'), '/pipelines/1_WORKFLOW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_input_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_ouput_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_source_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "source.csv",
						"folderPath": "source2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "No.",
						"type": "String"
					},
					{
						"name": " Date&Time",
						"type": "String"
					},
					{
						"name": " ms",
						"type": "String"
					},
					{
						"name": "CH1",
						"type": "String"
					},
					{
						"name": "CH2",
						"type": "String"
					},
					{
						"name": "CH3",
						"type": "String"
					},
					{
						"name": "CH4",
						"type": "String"
					},
					{
						"name": "CH5",
						"type": "String"
					},
					{
						"name": "CH6",
						"type": "String"
					},
					{
						"name": "CH7",
						"type": "String"
					},
					{
						"name": "CH8",
						"type": "String"
					},
					{
						"name": "CH9",
						"type": "String"
					},
					{
						"name": "CH10",
						"type": "String"
					},
					{
						"name": "Alarm1",
						"type": "String"
					},
					{
						"name": "Alarm2",
						"type": "String"
					},
					{
						"name": "AlarmOut",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FRW_ADLS_ALL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DLS_DR": {
						"type": "string"
					},
					"DLS_FN": {
						"type": "string"
					},
					"DLS_URL": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS GEN2"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('DS_FRW_ADLS_ALL_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('DS_FRW_ADLS_ALL_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FRW_ADW_ALL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "syndpdatawarehouse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SRC_SRV_NM": {
						"type": "string"
					},
					"SRC_DB_NM": {
						"type": "string"
					},
					"SRC_USER_NM": {
						"type": "string"
					},
					"SRC_DB_KVS_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FRW_SRC_DS"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/syndpdatawarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FRW_ASQL_ALL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_FRW_ASQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"SRC_SRV_NM": {
							"value": "@dataset().SRC_SRV_NM",
							"type": "Expression"
						},
						"SRC_DB_NM": {
							"value": "@dataset().SRC_DB_NM",
							"type": "Expression"
						},
						"SRC_USER_NM": {
							"value": "@dataset().SRC_USER_NM",
							"type": "Expression"
						},
						"SRC_DB_KVS_NM": {
							"value": "@dataset().SRC_DB_KVS_NM",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SRC_SRV_NM": {
						"type": "string"
					},
					"SRC_DB_NM": {
						"type": "string"
					},
					"SRC_USER_NM": {
						"type": "string"
					},
					"SRC_DB_KVS_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FRW_META_DS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "EBIZ",
					"table": "BP_InqSalesPlanByItem"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_FRW_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_NAS_FS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_NAS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/File System"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "테스트"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "No.",
						"type": "String"
					},
					{
						"name": " Date&Time",
						"type": "String"
					},
					{
						"name": " ms",
						"type": "String"
					},
					{
						"name": "CH1",
						"type": "String"
					},
					{
						"name": "CH2",
						"type": "String"
					},
					{
						"name": "CH3",
						"type": "String"
					},
					{
						"name": "CH4",
						"type": "String"
					},
					{
						"name": "CH5",
						"type": "String"
					},
					{
						"name": "CH6",
						"type": "String"
					},
					{
						"name": "CH7",
						"type": "String"
					},
					{
						"name": "CH8",
						"type": "String"
					},
					{
						"name": "CH9",
						"type": "String"
					},
					{
						"name": "CH10",
						"type": "String"
					},
					{
						"name": "Alarm1",
						"type": "String"
					},
					{
						"name": "Alarm2",
						"type": "String"
					},
					{
						"name": "AlarmOut",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_NAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERP_Oracle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ERP_ERPPROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "APPLSYS",
					"table": "FND_TERRITORIES_TL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ERP_ERPPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake_ADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-349757441074007.7.azuredatabricks.net",
					"clusterId": "0731-045428-tqt124lk",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake_ADF_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERP_ERPPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('ERP_ERPPROD_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('ERP_ERPPROD_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ERP_ERPPROD_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_FRW_ASQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"SRC_SRV_NM": {
						"type": "string"
					},
					"SRC_DB_NM": {
						"type": "string"
					},
					"SRC_USER_NM": {
						"type": "string"
					},
					"SRC_DB_KVS_NM": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_FRW_ASQL_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().SRC_DB_KVS_NM",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_NAS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_NAS_properties_typeProperties_host')]",
					"userId": "[parameters('LS_NAS_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_NAS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PMS_CPMS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('PMS_CPMS_properties_typeProperties_server')]",
					"database": "[parameters('PMS_CPMS_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('PMS_CPMS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PMS_CPMS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RMS_wcadmin')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('RMS_wcadmin_properties_typeProperties_server')]",
					"database": "[parameters('RMS_wcadmin_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('RMS_wcadmin_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RMS_wcadmin_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/databrickslspocsa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('databrickslspocsa_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('databrickslspocsa_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/syndpdatawarehouse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('syndpdatawarehouse_properties_typeProperties_server')]",
					"database": "[parameters('syndpdatawarehouse_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('syndpdatawarehouse_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('syndpdatawarehouse_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_1min_Origin_PL_COPY_FS_to_BLOB_v4_PC2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "분마다 Origin_PL_COPY_FS_to_BLOB_v4_PC2 트리",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Origin_PL_COPY_FS_to_BLOB_v4_PC2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2025-07-21T01:07:00",
						"endTime": "2025-08-31T01:07:00",
						"timeZone": "Korea Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Origin_PL_COPY_FS_to_BLOB_v4_PC2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls-dp-adf-ir-new')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('ls-dp-adf-ir-new_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}