pipeline/1_WORKFLOW.json
{
	"name": "1_WORKFLOW",
	"properties": {
		"activities": [
			{
				"name": "SRC_TO_BRZ",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_SRC_TO_BRZ",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						},
						"source_object_schema": {
							"value": "@pipeline().parameters.source_object_schema",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "BRZ_TO_SIV",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SRC_TO_BRZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_BRZ_TO_SIV",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"PIPELINE_NAME": {
							"value": "@activity('SRC_TO_BRZ').output.pipelineName",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL_TO_GOL",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "BRZ_TO_SIV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "4_SIL_TO_GOL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"PIPELINE_NAME": {
							"value": "@activity('BRZ_TO_SIV').output.pipelineName",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"interface_id": {
				"type": "string"
			},
			"source_object_schema": {
				"type": "string"
			}
		},
		"folder": {
			"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-07T01:57:34Z"
	}
}