pipeline/2_SRC_TO_BRZ.json
{
	"name": "2_SRC_TO_BRZ",
	"properties": {
		"description": "This pipeline is used to migrate source table to data lake(RAW) with full copy support. Pipeline is using value of source name and table name in configuration table. ",
		"activities": [
			{
				"name": "GET_CFG",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GET_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.interface_id}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": {
								"value": "@pipeline().parameters.META_DB_SRV_NM",
								"type": "Expression"
							},
							"SRC_DB_NM": {
								"value": "@pipeline().parameters.META_DB_NM",
								"type": "Expression"
							},
							"SRC_USER_NM": {
								"value": "@pipeline().parameters.META_DB_USER_NM",
								"type": "Expression"
							},
							"SRC_DB_KVS_NM": {
								"value": "@pipeline().parameters.META_DB_KVS_NM",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FILTER_1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_type,'full')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "TIME",
						"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', variables('TIME'))}/@{concat(item().source_object, '.snappy.parquet')}"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_type,'incremental')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FOR_EACH_1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_1').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "GET_SRC_REC_CNT",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT \n    CASE \n        WHEN EXISTS (\n            SELECT 1 \n            FROM ALL_TABLES \n            WHERE OWNER = UPPER('@{item().source_object_schema}')\n              AND TABLE_NAME = UPPER('@{item().source_object}')\n        ) \n        THEN (\n            SELECT COUNT(*) \n            FROM @{item().source_object_schema}.@{item().source_object}\n        )\n        ELSE 0\n    END AS src_rec_cnt\nFROM DUAL",
										"type": "Expression"
									},
									"partitionOption": "None",
									"numberPrecision": 38,
									"numberScale": 18,
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "ERP_Oracle",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "COPY_TO_ADLS_LOG",
							"description": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', variables('TIME'))}/@{concat(item().source_object, '.snappy.parquet')}",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GET_SRC_REC_CNT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "."
								},
								{
									"name": "Destination",
									"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source, '/', item().source_object, '-ALL/', replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-',''))}/@{concat(item().source_object, '.snappy.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * \nFROM @{item().source_object_schema}.@{item().source_object}\nWHERE EXISTS (\n    SELECT 1 \n    FROM ALL_TAB_COLUMNS\n    WHERE OWNER = '@{item().source_object_schema}'\n      AND TABLE_NAME = '@{item().source_object}'\n)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureBlobFSSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ERP_Oracle",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FRW_ADLS_ALL",
									"type": "DatasetReference",
									"parameters": {
										"SRC_FS_KVS_NM": {
											"value": "@pipeline().parameters.DL_FS_KVS_NM",
											"type": "Expression"
										},
										"DLS_DR": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/@{variables('TIME')}",
											"type": "Expression"
										},
										"DLS_FN": {
											"value": "@{item().source_object}.snappy.parquet",
											"type": "Expression"
										},
										"DLS_URL": {
											"value": "@pipeline().parameters.DLS_URL",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_INS_RAW_PIP_INFO_LOG",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "COPY_TO_ADLS_LOG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@pipeline().parameters.SP_INS_PIP_INFO",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"copy_status": {
										"value": {
											"value": "@{activity('COPY_TO_ADLS_LOG').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_dr_nm": {
										"value": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/@{variables('TIME')}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fl_nm": {
										"value": {
											"value": "@{item().source_object}.snappy.parquet",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fs_nm": {
										"value": {
											"value": "@pipeline().parameters.DL_FS_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_rec_cnt": {
										"value": {
											"value": "@activity('COPY_TO_ADLS_LOG').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"end_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_id": {
										"value": {
											"value": "@item().load_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"load_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"mig_clm_nm": {
										"value": "r_mig_flg",
										"type": "String"
									},
									"pip_nm": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_rec_cnt": {
										"value": {
											"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"start_time": {
										"value": {
											"value": "@pipeline().parameters.WIND_STRT_TIME",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"usecase_id": {
										"value": {
											"value": "@item().usecase_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"zone": {
										"value": "Bronze",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_FRW_ASQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "COPY_TO_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GET_SRC_REC_CNT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "."
								},
								{
									"name": "Destination",
									"value": "@{concat(pipeline().parameters.DL_DR_NM, '/', item().source_name, '/', item().source_object, IF(equals(item().load_type,'full'),'-ALL',''), '/Latest/')}/@{concat(item().source_object, '.snappy.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * \nFROM @{item().source_object_schema}.@{item().source_object}\nWHERE EXISTS (\n    SELECT 1 \n    FROM ALL_TAB_COLUMNS\n    WHERE OWNER = '@{item().source_object_schema}'\n      AND TABLE_NAME = '@{item().source_object}'\n)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureBlobFSSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ERP_Oracle",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FRW_ADLS_ALL",
									"type": "DatasetReference",
									"parameters": {
										"SRC_FS_KVS_NM": {
											"value": "@pipeline().parameters.DL_FS_KVS_NM",
											"type": "Expression"
										},
										"DLS_DR": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/Latest/",
											"type": "Expression"
										},
										"DLS_FN": {
											"value": "@{item().source_object}.snappy.parquet",
											"type": "Expression"
										},
										"DLS_URL": {
											"value": "@pipeline().parameters.DLS_URL",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_INS_RAW_PIP_INFO",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "COPY_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@pipeline().parameters.SP_INS_PIP_INFO",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"copy_status": {
										"value": {
											"value": "@{activity('COPY_TO_ADLS').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_dr_nm": {
										"value": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}-ALL/Latest/",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fl_nm": {
										"value": {
											"value": "@{item().source_object}.snappy.parquet",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fs_nm": {
										"value": {
											"value": "@pipeline().parameters.DL_FS_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_rec_cnt": {
										"value": {
											"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"end_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_id": {
										"value": {
											"value": "@item().load_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"load_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"mig_clm_nm": {
										"value": "r_mig_flg",
										"type": "String"
									},
									"pip_nm": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_rec_cnt": {
										"value": {
											"value": "@activity('GET_SRC_REC_CNT').output.firstRow.src_rec_cnt",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"start_time": {
										"value": {
											"value": "@pipeline().parameters.WIND_STRT_TIME",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"usecase_id": {
										"value": {
											"value": "@item().usecase_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"zone": {
										"value": "Bronze",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_FRW_ASQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_DB_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "LOG",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "COPY_TO_ADLS",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('COPY_TO_ADLS').output.executionDetails[0].status,'Succeeded')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "FAIL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SP_ETL_DATA_INSERT_LOG]",
											"storedProcedureParameters": {
												"err_mesg": {
													"value": {
														"value": "ErrorCode :@{activity('COPY_TO_ADLS').Error.errorCode}",
														"type": "Expression"
													},
													"type": "String"
												},
												"load_cnt": {
													"value": {
														"value": "@activity('COPY_TO_ADLS').output.rowsRead",
														"type": "Expression"
													},
													"type": "Decimal"
												},
												"parm_from": {
													"value": null,
													"type": "String"
												},
												"parm_to": {
													"value": null,
													"type": "String"
												},
												"pgm_status": {
													"value": "E",
													"type": "String"
												},
												"run_pgm": {
													"value": {
														"value": "@concat('BRIDGE','_','SYN','_',item().synapse_object_schema,'.',item().synapse_object)",
														"type": "Expression"
													},
													"type": "String"
												},
												"st_date": {
													"value": {
														"value": "@formatDateTime(concat(substring(item().yyyyMMddHHmmss,0,4),'-',substring(item().yyyyMMddHHmmss,4,2),'-',substring(item().yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"tgt_job_area": {
													"value": "ODS",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "syndpdatawarehouse",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SUCCESS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SP_ETL_DATA_INSERT_LOG]",
											"storedProcedureParameters": {
												"err_mesg": {
													"value": null,
													"type": "String"
												},
												"load_cnt": {
													"value": {
														"value": "@activity('COPY_TO_ADLS').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Decimal"
												},
												"parm_from": {
													"value": null,
													"type": "String"
												},
												"parm_to": {
													"value": null,
													"type": "String"
												},
												"pgm_status": {
													"value": "S",
													"type": "String"
												},
												"run_pgm": {
													"value": {
														"value": "@concat('BRIDGE','_','SYN','_',item().synapse_object_schema,'.',item().synapse_object)",
														"type": "Expression"
													},
													"type": "String"
												},
												"st_date": {
													"value": {
														"value": "@formatDateTime(concat(substring(item().yyyyMMddHHmmss,0,4),'-',substring(item().yyyyMMddHHmmss,4,2),'-',substring(item().yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"tgt_job_area": {
													"value": "ODS",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "syndpdatawarehouse",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FOR_EACH_2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_2').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "2_PL_COPY_SRC_TO_BRZ_ASQL_EAI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "2_SRC_TO_BRZ_SUB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"WIND_STRT_TIME": {
										"value": "@pipeline().parameters.WIND_STRT_TIME",
										"type": "Expression"
									},
									"IF_ID": {
										"value": "@item().interface_id",
										"type": "Expression"
									},
									"PIPELINE_NAME": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GET_TIME",
				"description": "This activity is used to initialize TIME variable with pipeline start time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TIME",
					"value": {
						"value": "@replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"META_DB_SRV_NM": {
				"type": "string",
				"defaultValue": "ls-dp-sql.database.windows.net"
			},
			"META_DB_NM": {
				"type": "string",
				"defaultValue": "sqldb-dataportal"
			},
			"META_DB_USER_NM": {
				"type": "string",
				"defaultValue": "lseadmin"
			},
			"META_DB_KVS_NM": {
				"type": "string",
				"defaultValue": "KVS-FRW-META-ASQL"
			},
			"META_TBL_NM": {
				"type": "string",
				"defaultValue": "Meta.LOAD_INV_EAI"
			},
			"DLS_URL": {
				"type": "string",
				"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
			},
			"DL_FS_NM": {
				"type": "string",
				"defaultValue": "databrickslspocsa"
			},
			"DL_DR_NM": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"DL_FS_KVS_NM": {
				"type": "string",
				"defaultValue": "KVS-FRW-FS-ADLS"
			},
			"SP_INS_PIP_INFO": {
				"type": "string",
				"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
			},
			"SP_FAIL_ACT": {
				"type": "string",
				"defaultValue": "Meta.SP_FAIL_ACT"
			},
			"WIND_STRT_TIME": {
				"type": "string"
			},
			"LK_SRC_SRV_NM": {
				"type": "string",
				"defaultValue": "synw-datawarehouse-prod-001.sql.azuresynapse.net"
			},
			"LK_SRC_DB_NM": {
				"type": "string",
				"defaultValue": "syndpdatawarehouse"
			},
			"LK_SRC_USER_NM": {
				"type": "string",
				"defaultValue": "sqladminuser"
			},
			"LK_SRC_DB_KVS_NM": {
				"type": "string",
				"defaultValue": "PROD-KVS-FRW-ADW-SYN"
			},
			"interface_id": {
				"type": "string"
			},
			"source_object_schema": {
				"type": "string",
				"defaultValue": "APPLSYS"
			}
		},
		"variables": {
			"TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-07T02:03:24Z"
	}
}