pipeline/4_SIL_TO_GOL.json
{
	"name": "4_SIL_TO_GOL",
	"properties": {
		"description": "This pipeline is used to migrate source table to data lake(Curated) with full copy support. Pipeline is using value of source name and table name in configuration table. ",
		"activities": [
			{
				"name": "GET_CFG",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GET_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [r_mig_flg] = 1\n  AND [interface_id] = '@{pipeline().parameters.interface_id}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": {
								"value": "@pipeline().parameters.META_DB_SRV_NM",
								"type": "Expression"
							},
							"SRC_DB_NM": {
								"value": "@pipeline().parameters.META_DB_NM",
								"type": "Expression"
							},
							"SRC_USER_NM": {
								"value": "@pipeline().parameters.META_USER_NM",
								"type": "Expression"
							},
							"SRC_DB_KVS_NM": {
								"value": "@pipeline().parameters.META_DB_KVS_NM",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR_EACH",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_CFG').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "GET_JOB_TIME",
							"description": "This activity is used to initialize TIME variable with pipeline start time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "JOB_TIME",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Trans to GOLD",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GET_JOB_TIME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureBlobFSSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureBlobFSSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FRW_ADLS_ALL",
									"type": "DatasetReference",
									"parameters": {
										"DLS_DR": {
											"value": "@{pipeline().parameters.SRC_DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
											"type": "Expression"
										},
										"DLS_FN": {
											"value": "@{item().source_object}.tsv",
											"type": "Expression"
										},
										"DLS_URL": {
											"value": "@pipeline().parameters.DLS_URL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FRW_ADLS_ALL",
									"type": "DatasetReference",
									"parameters": {
										"DLS_DR": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
											"type": "Expression"
										},
										"DLS_FN": {
											"value": "@{item().source_object}.tsv",
											"type": "Expression"
										},
										"DLS_URL": {
											"value": "@pipeline().parameters.DLS_URL",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_INS_RAW_PIP_INFO",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Trans to GOLD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@pipeline().parameters.SP_INS_PIP_INFO",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"copy_status": {
										"value": {
											"value": "@{activity('Trans to GOLD').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_dr_nm": {
										"value": {
											"value": "@{pipeline().parameters.DL_DR_NM}/@{item().source_name}/@{item().source}/@{item().source_object}/",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fl_nm": {
										"value": {
											"value": "@{item().DL_FL_NM}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_fs_nm": {
										"value": {
											"value": "@pipeline().parameters.DL_FS_NM",
											"type": "Expression"
										},
										"type": "String"
									},
									"dl_rec_cnt": {
										"value": {
											"value": "@item().src_rec_cnt",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"end_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"load_id": {
										"value": {
											"value": "@item().load_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"load_time": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"mig_clm_nm": {
										"value": "c_mig_flg",
										"type": "String"
									},
									"pip_nm": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_rec_cnt": {
										"value": {
											"value": "@item().SRC_REC_CNT",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"start_time": {
										"value": {
											"value": "@activity('Trans to GOLD').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"usecase_id": {
										"value": {
											"value": "@item().usecase_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"zone": {
										"value": "Gold",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_FRW_ASQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SP_FAIL_ACT",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Trans to GOLD",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@pipeline().parameters.SP_FAIL_ACT",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"copy_status": {
										"value": {
											"value": "@activity('Trans to GOLD').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_msg": {
										"value": {
											"value": "Trans to GOLD activity has failed, ErrorCode :@{activity('Trans to GOLD').Error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_id": {
										"value": {
											"value": "@item().load_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pip_nm": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_rec_cnt": {
										"value": {
											"value": "@item().SRC_REC_CNT",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"usecase_id": {
										"value": {
											"value": "@item().usecase_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"zone": {
										"value": "Gold",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_FRW_ASQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().parameters.META_DB_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().parameters.META_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().parameters.META_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().parameters.META_DB_KVS_NM",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GET_TIME",
				"description": "This activity is used to initialize TIME variable with pipeline start time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TIME",
					"value": {
						"value": "@replace(replace(pipeline().parameters.WIND_STRT_TIME,':',''),'-','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"META_DB_SRV_NM": {
				"type": "string",
				"defaultValue": "ls-dp-sql.database.windows.net"
			},
			"META_DB_NM": {
				"type": "string",
				"defaultValue": "sqldb-dataportal"
			},
			"META_USER_NM": {
				"type": "string",
				"defaultValue": "lseadmin"
			},
			"META_DB_KVS_NM": {
				"type": "string",
				"defaultValue": "KVS-FRW-META-ASQL"
			},
			"DLS_URL": {
				"type": "string",
				"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
			},
			"DL_FS_NM": {
				"type": "string",
				"defaultValue": "databrickslspocsa"
			},
			"DL_DR_NM": {
				"type": "string",
				"defaultValue": "gold"
			},
			"DL_FS_KVS_NM": {
				"type": "string",
				"defaultValue": "KVS-FRW-FS-ADLS"
			},
			"SRC_NM": {
				"type": "string",
				"defaultValue": "BRIDGE"
			},
			"SRC_DL_DR_NM": {
				"type": "string",
				"defaultValue": "silver"
			},
			"SP_INS_PIP_INFO": {
				"type": "string",
				"defaultValue": "Meta.SP_INS_RAW_PIP_INFO"
			},
			"SP_FAIL_ACT": {
				"type": "string",
				"defaultValue": "Meta.SP_FAIL_ACT"
			},
			"SP_UPD_MIG_FLG_INFO": {
				"type": "string",
				"defaultValue": "Meta.SP_DB_UPD_MIG_FLG_INFO"
			},
			"WIND_STRT_TIME": {
				"type": "string"
			},
			"PIPELINE_NAME": {
				"type": "string"
			},
			"interface_id": {
				"type": "string"
			}
		},
		"variables": {
			"TIME": {
				"type": "String"
			},
			"JOB_TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2ND PROJECT/3. FRAMEWORK/FRAMEWORK"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-06T01:00:27Z"
	}
}