pipeline/Origin_PL_COPY_FS_to_BLOB_v4_PC21.json
{
	"name": "Origin_PL_COPY_FS_to_BLOB_v4_PC21",
	"properties": {
		"activities": [
			{
				"name": "Copy local to source",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "테스트/"
					},
					{
						"name": "Destination",
						"value": "temp-monitoring/source/source.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@addminutes(utcnow(), -2)",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 28
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "No.",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": " Date&Time",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": " ms",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "CH1",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "CH2",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "CH3",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"name": "CH4",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"name": "CH5",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"name": "CH6",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"name": "CH7",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"name": "CH8",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"name": "CH9",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"name": "CH10",
									"type": "Decimal",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							},
							{
								"source": {
									"name": "Alarm1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 14
								}
							},
							{
								"source": {
									"name": "Alarm2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 15
								}
							},
							{
								"source": {
									"name": "AlarmOut",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 16
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false,
							"dateTimeFormat": "yyyy-MM-dd HH:mm:ss"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SRC_NAS_FS21",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BLOB_source_PC21",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If rowsCopied is greater than 0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy local to source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy local to source').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy local to input",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": {
											"value": "@add(int(activity('Copy local to source').output.rowsRead),-7)",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": {
											"value": "@concat(convertTimeZone(utcnow(), 'Korea Standard Time', 'Korea Standard Time', '/yyyy-MM-dd/HH:mm:dd'),'.csv')",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "No.",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "DateTime",
												"ordinal": 2
											},
											"sink": {
												"name": "Date&Time",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "ms",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 4
											},
											"sink": {
												"name": "CH1",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 5
											},
											"sink": {
												"name": "CH2",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 6
											},
											"sink": {
												"name": "CH3",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 7
											},
											"sink": {
												"name": "CH4",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 8
											},
											"sink": {
												"name": "CH5",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 9
											},
											"sink": {
												"name": "CH6",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 10
											},
											"sink": {
												"name": "CH7",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 11
											},
											"sink": {
												"name": "CH8",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 12
											},
											"sink": {
												"name": "CH9",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 13
											},
											"sink": {
												"name": "CH10",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "Alarm1",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "Alarm2",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "AlarmOut",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BLOB_source_PC21",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_input_PC21",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy local to output",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy local to input",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 28
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"type": "DateTime",
												"ordinal": 2
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 4
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 5
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 6
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 7
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 8
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 9
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 10
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 11
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 11
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 12
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 12
											}
										},
										{
											"source": {
												"type": "Decimal",
												"ordinal": 13
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 13
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 14
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 15
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 16
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BLOB_source_PC21",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_ouput_PC21",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "99. TEMP/TEMP_MONITORING"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-06T00:50:40Z"
	}
}