pipeline/PA_PROJECTS_ALL.json
{
	"name": "PA_PROJECTS_ALL",
	"properties": {
		"activities": [
			{
				"name": "GET_CFG",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [load_id]\n      ,[source_name]\n      ,[source]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
								"type": "Expression"
							},
							"SRC_DB_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_NM",
								"type": "Expression"
							},
							"SRC_USER_NM": {
								"value": "@pipeline().globalParameters.GP_META_USER_NM",
								"type": "Expression"
							},
							"SRC_DB_KVS_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_KVS_NM",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "COPY_TO_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_FRW_ADLS_ALL",
						"type": "DatasetReference",
						"parameters": {
							"DLS_DR": {
								"value": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.firstRow.source_name}/@{activity('GET_CFG').output.firstRow.source}/@{activity('GET_CFG').output.firstRow.source_object}-ALL/@{variables('TIME')}",
								"type": "Expression"
							},
							"DLS_FN": {
								"value": "@{activity('GET_CFG').output.firstRow.source_object}.tsv",
								"type": "Expression"
							},
							"DLS_URL": "@pipeline().parameters.DLS_URL"
						}
					}
				]
			},
			{
				"name": "UPSERT_and_LOG",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "COPY_TO_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/databricks_ls_poc/#_PoC_Assets/Ingestion/UPSERT",
					"baseParameters": {
						"source": {
							"value": "@{activity('GET_CFG').output.firstRow.source}",
							"type": "Expression"
						},
						"source_object_schema": {
							"value": "@{activity('GET_CFG').output.firstRow.source_object_schema}",
							"type": "Expression"
						},
						"source_object": {
							"value": "@{activity('GET_CFG').output.firstRow.source_object}",
							"type": "Expression"
						},
						"synapse_object_schema": {
							"value": "@{activity('GET_CFG').output.firstRow.synapse_object_schema}",
							"type": "Expression"
						},
						"synapse_object": {
							"value": "@{activity('GET_CFG').output.firstRow.synapse_object}",
							"type": "Expression"
						},
						"yyyyMMddHHmmss": {
							"value": "@{activity('GET_CFG').output.firstRow.yyyyMMddHHmmss}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DL_DR_NM": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"DLS_URL": {
				"type": "string",
				"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
			}
		},
		"variables": {
			"IF_ID": {
				"type": "String",
				"defaultValue": "IF_SRD_DPS_ERP_0010"
			},
			"TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2ND PROJECT/1. EAI/ERP/UPSERT/yyyyMMdd"
		},
		"annotations": []
	}
}