pipeline/PA_PROJECTS_ALL.json
{
	"name": "PA_PROJECTS_ALL",
	"properties": {
		"activities": [
			{
				"name": "GET_CFG",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [load_id]\n      ,[source_name]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
								"type": "Expression"
							},
							"SRC_DB_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_NM",
								"type": "Expression"
							},
							"SRC_USER_NM": {
								"value": "@pipeline().globalParameters.GP_META_USER_NM",
								"type": "Expression"
							},
							"SRC_DB_KVS_NM": {
								"value": "@pipeline().globalParameters.GP_META_DB_KVS_NM",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "UPSERT",
				"description": "COPY_TO_ADLS_LOG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET_CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": true
				},
				"inputs": [
					{
						"referenceName": "DS_FRW_ASQL_TBL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": "@pipeline().globalParameters.GP_META_DB_SRV_NM",
							"SRC_DB_NM": "@pipeline().globalParameters.GP_BRIDGE_DB_NM",
							"SRC_USER_NM": "@pipeline().globalParameters.GP_META_USER_NM",
							"SRC_DB_KVS_NM": "@pipeline().globalParameters.GP_BRIDGE_DB_KVS_NM",
							"SCHEMA_NM": "@{activity('GET_CFG').output.firstRow.source_object_schema}",
							"TBL_NM": "@{activity('GET_CFG').output.firstRow.source_object}"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_FRW_ADLS_ALL",
						"type": "DatasetReference",
						"parameters": {
							"DLS_DR": "@{pipeline().parameters.DL_DR_NM}/@{activity('GET_CFG').output.firstRow.source_name}/@{activity('GET_CFG').output.firstRow.source}/@{activity('GET_CFG').output.firstRow.source_object}-ALL/@{variables('TIME')}",
							"DLS_FN": {
								"value": "@{activity('GET_CFG').output.firstRow.source_object}.tsv",
								"type": "Expression"
							},
							"DLS_URL": "@pipeline().parameters.DLS_URL"
						}
					}
				]
			},
			{
				"name": "LOG",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "UPSERT",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('UPSERT').output.executionDetails[1].status,'Succeeded')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FAIL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_ETL_DATA_INSERT_LOG]",
								"storedProcedureParameters": {
									"err_mesg": {
										"value": {
											"value": "@activity('UPSERT').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_cnt": {
										"value": {
											"value": "@activity('UPSERT').output.rowsRead",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"parm_from": {
										"value": null,
										"type": "String"
									},
									"parm_to": {
										"value": null,
										"type": "String"
									},
									"pgm_status": {
										"value": "E",
										"type": "String"
									},
									"run_pgm": {
										"value": {
											"value": "@concat('BRIDGE','_','SYN','_',activity('GET_CFG').output.firstRow.synapse_object_schema,'.',activity('GET_CFG').output.firstRow.synapse_object)",
											"type": "Expression"
										},
										"type": "String"
									},
									"st_date": {
										"value": {
											"value": "@formatDateTime(concat(substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,0,4),'-',substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,4,2),'-',substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tgt_job_area": {
										"value": "ODS",
										"type": "String"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SUCCESS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_ETL_DATA_INSERT_LOG]",
								"storedProcedureParameters": {
									"err_mesg": {
										"value": null,
										"type": "String"
									},
									"load_cnt": {
										"value": {
											"value": "@activity('UPSERT').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"parm_from": {
										"value": null,
										"type": "String"
									},
									"parm_to": {
										"value": null,
										"type": "String"
									},
									"pgm_status": {
										"value": "S",
										"type": "String"
									},
									"run_pgm": {
										"value": {
											"value": "@concat('BRIDGE','_','SYN','_',activity('GET_CFG').output.firstRow.synapse_object_schema,'.',activity('GET_CFG').output.firstRow.synapse_object)",
											"type": "Expression"
										},
										"type": "String"
									},
									"st_date": {
										"value": {
											"value": "@formatDateTime(concat(substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,0,4),'-',substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,4,2),'-',substring(activity('GET_CFG').output.firstRow.yyyyMMddHHmmss,6,2)),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tgt_job_area": {
										"value": "ODS",
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DL_DR_NM": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"DLS_URL": {
				"type": "string",
				"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
			}
		},
		"variables": {
			"IF_ID": {
				"type": "String",
				"defaultValue": "IF_SRD_DPS_ERP_0010"
			},
			"TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2ND PROJECT/1. EAI/ERP/UPSERT/yyyyMMdd"
		},
		"annotations": []
	}
}