pipeline/SP_RUN_FULL1.json
{
	"name": "SP_RUN_FULL1",
	"properties": {
		"activities": [
			{
				"name": "GET_DATE",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT FORMAT(DATEADD(HOUR, 9 ,GETDATE()), 'yyyyMMddHHmmss') AS 'yyyyMMddHHmmss', FORMAT(DATEADD(HOUR, 9 ,GETDATE()), 'yyyy-MM-dd') AS 'yyyyMMdd'\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL1",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": {
								"value": "@pipeline().globalParameters.GP_LK_SRC_SRV_NM",
								"type": "Expression"
							},
							"SRC_DB_NM": {
								"value": "@pipeline().globalParameters.GP_LK_SRC_DB_NM",
								"type": "Expression"
							},
							"SRC_USER_NM": {
								"value": "@pipeline().globalParameters.GP_LK_SRC_USER_NM",
								"type": "Expression"
							},
							"SRC_DB_KVS_NM": {
								"value": "@pipeline().globalParameters.GP_LK_SRC_DB_KVS_NM",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SP_FULL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_DATE').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SP_RUN_FULL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@pipeline().parameters.RUN_PGM",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_FRW_ASQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"SRC_SRV_NM": {
										"value": "@pipeline().globalParameters.GP_LK_SRC_SRV_NM",
										"type": "Expression"
									},
									"SRC_DB_NM": {
										"value": "@pipeline().globalParameters.GP_LK_SRC_DB_NM",
										"type": "Expression"
									},
									"SRC_USER_NM": {
										"value": "@pipeline().globalParameters.GP_LK_SRC_USER_NM",
										"type": "Expression"
									},
									"SRC_DB_KVS_NM": {
										"value": "@pipeline().globalParameters.GP_LK_SRC_DB_KVS_NM",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SP_COMPLETED",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_RUN_FULL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SP_COMPLETED1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"RUN_PGM": {
										"value": "@pipeline().parameters.RUN_PGM",
										"type": "Expression"
									},
									"START_DATE": {
										"value": "@item().yyyyMMddHHmmss",
										"type": "Expression"
									},
									"PARM_FROM": {
										"value": "NULL",
										"type": "Expression"
									},
									"PARM_TO": {
										"value": "NULL",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RUN_PGM": {
				"type": "string"
			}
		},
		"folder": {
			"name": "2ND PROJECT/3. FRAMEWORK/STOREDPROCEDURE"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-20T05:01:00Z"
	}
}