pipeline/test_FND_TERRITORIES_TL_COPY.json
{
	"name": "test_FND_TERRITORIES_TL_COPY",
	"properties": {
		"activities": [
			{
				"name": "GET_CFG_copy1",
				"description": "Get migration table information from configuration table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [load_id]\n      ,[source_name]\n      ,[interface_id]\n      ,[interface_name]\n      ,[load_type]\n      ,[source_object_schema]\n      ,[source_object]\n      ,[source_field]\n      ,[source_condition]\n      ,[target_object_schema]\n      ,[target_object]\n      ,[target_field]\n      ,[target_condition]\n      ,[from]\n      ,[to]\n      ,[interval_type]\n      ,[r_mig_flg]\n      ,[b_mig_flg]\n      ,[c_mig_flg]\n      ,[usecase_id]\n      ,[src_sys_id]\n      ,[trigger_id]\n      ,[rest_call_url]\n      ,[synapse_object_schema]\n      ,[synapse_object]\n      ,[synapse_object_type]\n      ,NEWID() as ID \n      ,FORMAT(cast(DATEADD(HOUR,9,GETUTCDATE()) as datetime), 'yyyyMMddHHmmss') as 'yyyyMMddHHmmss'\n  FROM [META].[LOAD_INV_EAI]\n  WHERE 1=1\n  AND [interface_id] = '@{variables('IF_ID')}'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FRW_ASQL_ALL",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SRV_NM": "@dataset().SRC_SRV_NM",
							"SRC_DB_NM": "@dataset().SRC_DB_NM",
							"SRC_USER_NM": "@dataset().SRC_USER_NM",
							"SRC_DB_KVS_NM": "@dataset().SRC_DB_KVS_NM"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SRC_TO_BRZ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GET_CFG_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_SRC_TO_BRZ2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "BRZ_TO_SIV",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SRC_TO_BRZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_BRZ_TO_SIV2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"PIPELINE_NAME": {
							"value": "@activity('SRC_TO_BRZ').output.pipelineName",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL_TO_GOL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "BRZ_TO_SIV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "4_SIL_TO_GOL2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WIND_STRT_TIME": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"PIPELINE_NAME": {
							"value": "@activity('BRZ_TO_SIV').output.pipelineName",
							"type": "Expression"
						},
						"interface_id": {
							"value": "@pipeline().parameters.interface_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"DESCRIPTION": {
				"type": "String",
				"defaultValue": "국가 및 권역 정보"
			},
			"BODY": {
				"type": "String",
				"defaultValue": "-------- BODY --------"
			},
			"IF_ID": {
				"type": "String",
				"defaultValue": "IF_SRD_DPS_ERP_0061"
			},
			"IF_REQ_DATA": {
				"type": "String",
				"defaultValue": "-------- PARAM --------"
			}
		},
		"folder": {
			"name": "2ND PROJECT/1. EAI/ERP/FULL"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-02T02:54:07Z"
	}
}