databricks-ls-poc-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "databricks-ls-poc-datafactory"
		},
		"syndpdatawarehouse_password": {
			"type": "secureString",
			"metadata": "'syndpdatawarehouse'의 'password'에 대한 보안 문자열"
		},
		"ERP_ERPPROD_password": {
			"type": "secureString",
			"metadata": "'ERP_ERPPROD'의 'password'에 대한 보안 문자열"
		},
		"LS_NAS_password": {
			"type": "secureString",
			"metadata": "'LS_NAS'의 'password'에 대한 보안 문자열"
		},
		"PMS_CPMS_password": {
			"type": "secureString",
			"metadata": "'PMS_CPMS'의 'password'에 대한 보안 문자열"
		},
		"RMS_wcadmin_password": {
			"type": "secureString",
			"metadata": "'RMS_wcadmin'의 'password'에 대한 보안 문자열"
		},
		"databrickslspocsa_accountKey": {
			"type": "secureString",
			"metadata": "'databrickslspocsa'의 'accountKey'에 대한 보안 문자열"
		},
		"syndpdatawarehouse_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synw-datawarehouse-prod-001.sql.azuresynapse.net"
		},
		"syndpdatawarehouse_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "syndpdatawarehouse"
		},
		"syndpdatawarehouse_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSESNOWFLAKE"
		},
		"ls-dp-adf-ir-new_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/6964c315-93f4-43ed-9c55-ab9ff3d37dc3/resourcegroups/DataPlatform/providers/Microsoft.DataFactory/factories/ls-dp-adf/integrationruntimes/ls-dp-adf-ir-new"
		},
		"ERP_ERPPROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "165.244.241.132:1601/ERPPROD"
		},
		"ERP_ERPPROD_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "LSISDATALAKE"
		},
		"LS_NAS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\165.243.101.217\\data"
		},
		"LS_NAS_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "busan_fat"
		},
		"PMS_CPMS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.153.3.90"
		},
		"PMS_CPMS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "CPMS"
		},
		"PMS_CPMS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSDPS"
		},
		"RMS_wcadmin_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "165.243.100.125"
		},
		"RMS_wcadmin_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "wcadmin"
		},
		"RMS_wcadmin_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LSDPS"
		},
		"databrickslspocsa_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databrickslspocsa.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/syndpdatawarehouse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('syndpdatawarehouse_properties_typeProperties_server')]",
					"database": "[parameters('syndpdatawarehouse_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('syndpdatawarehouse_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('syndpdatawarehouse_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls-dp-adf-ir-new')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('ls-dp-adf-ir-new_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERP_ERPPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('ERP_ERPPROD_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('ERP_ERPPROD_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ERP_ERPPROD_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_NAS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_NAS_properties_typeProperties_host')]",
					"userId": "[parameters('LS_NAS_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_NAS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PMS_CPMS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('PMS_CPMS_properties_typeProperties_server')]",
					"database": "[parameters('PMS_CPMS_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('PMS_CPMS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PMS_CPMS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RMS_wcadmin')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('RMS_wcadmin_properties_typeProperties_server')]",
					"database": "[parameters('RMS_wcadmin_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('RMS_wcadmin_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RMS_wcadmin_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/databrickslspocsa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('databrickslspocsa_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('databrickslspocsa_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "ls-dp-adf-ir-new",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ls-dp-adf-ir-new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_input_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_ouput_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_source_PC2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databrickslspocsa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "source.csv",
						"folderPath": "source2",
						"fileSystem": "temp-monitoring"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "No.",
						"type": "String"
					},
					{
						"name": " Date&Time",
						"type": "String"
					},
					{
						"name": " ms",
						"type": "String"
					},
					{
						"name": "CH1",
						"type": "String"
					},
					{
						"name": "CH2",
						"type": "String"
					},
					{
						"name": "CH3",
						"type": "String"
					},
					{
						"name": "CH4",
						"type": "String"
					},
					{
						"name": "CH5",
						"type": "String"
					},
					{
						"name": "CH6",
						"type": "String"
					},
					{
						"name": "CH7",
						"type": "String"
					},
					{
						"name": "CH8",
						"type": "String"
					},
					{
						"name": "CH9",
						"type": "String"
					},
					{
						"name": "CH10",
						"type": "String"
					},
					{
						"name": "Alarm1",
						"type": "String"
					},
					{
						"name": "Alarm2",
						"type": "String"
					},
					{
						"name": "AlarmOut",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databrickslspocsa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_NAS_FS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_NAS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TEMP_MONITORING/File System"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "테스트 2시험실"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "No.",
						"type": "String"
					},
					{
						"name": " Date&Time",
						"type": "String"
					},
					{
						"name": " ms",
						"type": "String"
					},
					{
						"name": "CH1",
						"type": "String"
					},
					{
						"name": "CH2",
						"type": "String"
					},
					{
						"name": "CH3",
						"type": "String"
					},
					{
						"name": "CH4",
						"type": "String"
					},
					{
						"name": "CH5",
						"type": "String"
					},
					{
						"name": "CH6",
						"type": "String"
					},
					{
						"name": "CH7",
						"type": "String"
					},
					{
						"name": "CH8",
						"type": "String"
					},
					{
						"name": "CH9",
						"type": "String"
					},
					{
						"name": "CH10",
						"type": "String"
					},
					{
						"name": "Alarm1",
						"type": "String"
					},
					{
						"name": "Alarm2",
						"type": "String"
					},
					{
						"name": "AlarmOut",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_NAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Origin_PL_COPY_FS_to_BLOB_v4_PC2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy local to source",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "테스트/"
							},
							{
								"name": "Destination",
								"value": "temp-monitoring/source/source.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@addminutes(utcnow(), -2)",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 28
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "No.",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": " Date&Time",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": " ms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "CH1",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "CH2",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "CH3",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "CH4",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CH5",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "CH6",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "CH7",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "CH8",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "CH9",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "CH10",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "Alarm1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "Alarm2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "AlarmOut",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 16
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "yyyy-MM-dd HH:mm:ss"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_NAS_FS2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_source_PC2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "If rowsCopied is greater than 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Copy local to source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Copy local to source').output.rowsCopied, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy local to input",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"skipLineCount": {
													"value": "@add(int(activity('Copy local to source').output.rowsRead),-7)",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": {
													"value": "@concat(convertTimeZone(utcnow(), 'Korea Standard Time', 'Korea Standard Time', '/yyyy-MM-dd/HH:mm:dd'),'.csv')",
													"type": "Expression"
												}
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"name": "No.",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "DateTime",
														"ordinal": 2
													},
													"sink": {
														"name": "Date&Time",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 3
													},
													"sink": {
														"name": "ms",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 4
													},
													"sink": {
														"name": "CH1",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 5
													},
													"sink": {
														"name": "CH2",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 6
													},
													"sink": {
														"name": "CH3",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 7
													},
													"sink": {
														"name": "CH4",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 8
													},
													"sink": {
														"name": "CH5",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 9
													},
													"sink": {
														"name": "CH6",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 10
													},
													"sink": {
														"name": "CH7",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 11
													},
													"sink": {
														"name": "CH8",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 12
													},
													"sink": {
														"name": "CH9",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 13
													},
													"sink": {
														"name": "CH10",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 14
													},
													"sink": {
														"name": "Alarm1",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 15
													},
													"sink": {
														"name": "Alarm2",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 16
													},
													"sink": {
														"name": "AlarmOut",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_source_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_input_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy local to output",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy local to input",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"skipLineCount": 28
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												},
												{
													"source": {
														"type": "DateTime",
														"ordinal": 2
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 2
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 3
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 3
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 4
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 4
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 5
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 5
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 6
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 6
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 7
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 7
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 8
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 8
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 9
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 9
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 10
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 10
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 11
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 11
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 12
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 12
													}
												},
												{
													"source": {
														"type": "Decimal",
														"ordinal": 13
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 13
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 14
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 14
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 15
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 15
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 16
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 16
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_source_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_ouput_PC2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "99. TEMP/TEMP_MONITORING"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T00:50:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SRC_NAS_FS2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_source_PC2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_input_PC2')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_ouput_PC2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_1min_Origin_PL_COPY_FS_to_BLOB_v4_PC2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "분마다 Origin_PL_COPY_FS_to_BLOB_v4_PC2 트리",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Origin_PL_COPY_FS_to_BLOB_v4_PC2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2025-07-21T01:07:00",
						"endTime": "2025-08-31T01:07:00",
						"timeZone": "Korea Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Origin_PL_COPY_FS_to_BLOB_v4_PC2')]"
			]
		}
	]
}