databricks-ls-poc-datafactory/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "databricks-ls-poc-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CBATCH_SEQ_D_ODS_06')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SEQ_C_D_OD_ERP_601002",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEQ_C_D_OD_ERP_601002",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DW_IPD_MP_PROD_AMOUNT_C",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SEQ_C_D_OD_ERP_601002",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW_IPD_MP_PROD_AMOUNT_C",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEQ_C_D_OD_ERP_601001",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEQ_C_D_OD_ERP_601001",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEQ_C_D_OD_GHR_610000",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEQ_C_D_OD_GHR_610000",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EIS_DYNA_DASH_DAILY_REPORT_C",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SEQ_C_D_OD_ERP_601002",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_RUN_FULL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RUN_PGM": "SP_T_EIS_DYNA_DASH_DAILY_REPORT_N_C"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "2ND PROJECT/4. BATCH/CBATCH_SEQ_D_06/CBATCH_SEQ_D_ODS_06"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T05:07:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CBATCH_SEQ_D_06')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CBATCH_SEQ_D_DW_06",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CBATCH_SEQ_D_ODS_06",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CBATCH_SEQ_D_DW_06",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CBATCH_SEQ_D_DM_06",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CBATCH_SEQ_D_DW_06",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CBATCH_SEQ_D_DM_06",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CBATCH_SEQ_D_ODS_06",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "XXSM_SYSTEM_USER_EXPIRE_MAIL_T_C",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CBATCH_SEQ_D_ODS_06",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "XXSM_SYSTEM_USER_EXPIRE_MAIL_T_C",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "XXSM_SYSTEM_USER_EXPIRE_MAIL_T_C",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BI_DASH_SP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BI_DASH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BI_DASH_SP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BI_DASH",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CBATCH_SEQ_D_DM_06",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BI_DASH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "2ND PROJECT/4. BATCH/CBATCH_SEQ_D_06"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-01T07:21:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CBATCH_SEQ_D_ODS_06')]"
			]
		}
	]
}